* {
  box-sizing: border-box;
  transition: background-color 200ms;
}

body {
  margin: 0;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  font-family: var(--ibm-plex-sans);
  width: clamp(320px, 80vw, 800px);
  margin: auto;
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
