.header {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 200px;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
}

.subtitle {
  color: var(--text-color-light);
  font-weight: 400;
  margin: 0;
}

/* FORM */

.form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto auto;
  align-items: flex-end;
  margin-bottom: 10px;
}

.label {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label span {
  display: block;
  margin-bottom: 5px;
}

.input {
  background-color: unset;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  font-family: var(--ibm-plex-sans);
  font-size: 1rem;
  color: var(--text-color);
  height: 45px;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  border: none;
  padding: 10px 20px;
  font-family: var(--ibm-plex-sans);
  font-size: 1rem;
  cursor: pointer;
  height: min-content;
  height: 45px;
}

/* DESCRIPTION */

.description {
  font-size: 0.875rem;
  color: var(--text-color-light);
  margin-bottom: 40px;
}

/* --- ON MOBILE --- */

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }

  .header {
    text-align: left;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.125rem;
  }
}
